<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://kit.fontawesome.com/2a9be2991c.js" crossorigin="anonymous"></script>
    <link th:href="@{/static/static/css/main.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/static/css/profile.css}" type="text/css"/>
    <title>Σύστημα ηλεκτρονικής υποβολής αιτήσεων μεταπτυχιακού</title>
    <script type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js/}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/resources/static/static/js/main.js}"></script>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/materializecss/css/materialize.min.css}"/>
    <script th:src="@{/webjars/materializecss/js/materialize.min.js}"></script>
</head>
<body>
<div th:replace="hefou/header :: header"/>
<div class="wrapper">
    <div id="content">
        <div class="jumbotron" sec:authorize="hasRole('ROLE_USER')">
            <h2>Σύστημα ηλεκτρονικής υποβολής αιτήσεων μεταπτυχιακών σπουδών.</h2>
            <p>
            </p>
            <hr class="my-4">
            <p>.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" role="button" th:href="@{/resources/templates/addapplication.html}">Αίτηση</a>
            </p>
        </div>
        <div class="jumbotron" sec:authorize="hasRole('ROLE_ADMIN')">
            <h2>Σύστημα ηλεκτρονικής υποβολής αιτήσεων μεταπτυχιακών σπουδών.</h2>
            <p>

            </p>
            <hr class="my-4">
            <p>Links</p>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" role="button" th:href="@{/resources/templates/hefou/student.html}">Users list</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>