<!DOCTYPE html>
<html>
<head>
  <title>List Students</title>
  <!-- reference our style sheet -->
  <link type="text/css" rel="stylesheet"
        href="${pageContext.request.contextPath}/base/test/css/main.css" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h2>Student List</h2>
  </div>
</div>

<div id="container">
  <div id="content">
    <!--  add our html table here -->
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
        <!-- loop over and print our customers -->
      <c:forEach var="student" items="${students}">

        <tr>
          <td>${Student.first_name}</td>
          <td>${Student.last_name}</td>
          <td>${Student.email}</td>
        </tr>
      </c:forEach>
    </table>
  </div>
</div>

</body>
</html>
